<body>
    <img class="uber" src="../../../assets/images\uber.png" alt="uber">
    <div class="principal">
        <img src="../../../assets/images\ModoUber.png" alt="modo-uber">

        <div>
            <h1>Modo celebrando-nuestras-aventuras-del-2021.</h1>
            <p>Gracias por elegir a Uber para hacer que este año se sintiera 
                un poco más cercano a lo normal. Mira debajo algunos de nuestros 
                momentos especiales.</p>
        </div>

        <div>
            <img class="year" src="../../../assets/images\Year.png" alt="year">
        </div>

        <div class="arrow">
            <img src="../../../assets/images\Flecha.png" alt="arrow">
        </div>

        <div>
            <h1>Este 2021 tuvimos muchos momentos para disfrutar.</h1>
            <p>Toma una captura de pantalla y usa #ModoUber2021 para compartir tus mejores momentos.</p>
        </div>

        <app-card></app-card>

    </div>

    <footer>
        <h1>Estamos ansiosos por saber qué sigue.</h1>
        <p>Quizás visitarás nuevos lugares o probarás nuevos tipos de comida: sea lo que sea, 
            aquí estamos para hacerlo más fácil para ti.</p>
        <p>Empecemos ❯</p>
        
        <img class="final" src="../../../assets/images/footer.png" alt="final">
    
        <div class="white">
            <p>
                Únicamente para Colombia y Honduras: Para efectos de claridad, en caso de que 
                en la presente comunicación se muestre la palabra "viaje" y/o "conducir", éstas 
                significarán "arrendamiento" y/o "realizar un arrendamiento". Asimismo, en caso 
                de presentarse la palabra "socio conductor", “socio” y/o "conductor", éstas 
                significarán "arrendador".</p>
        </div>
        
        <div class="last">
            <div class="links">
                <a href="#">Centro de ayuda</a>
                <a href="#">Privacidad</a>
                <a href="#">Eliminar suscripción</a>
                <a href="#">Preferencias de correo electrónico</a>
                <a href="#">Términos</a>
            </div>
        
            <div class="information">
                <p>Rasier Operations B.V.</p>
                <p>Mr. Treublaan 7</p>
                <p>1097 DP Amsterdam</p>
                <p>Uber.com</p>
            </div>
        
            <div class="media">
                <img src="../../../assets/images/social1.png" alt="facebook">
                <img src="../../../assets/images/social2.png" alt="twitter">
                <img src="../../../assets/images/social3.png" alt="instagram">
            </div>
        </div>
    </footer>
</body>


