body {
    color: #FFF;
}
h2 {
    font-size: 2.5rem;
}
p {
    font-size: 1.5rem;
}
.white {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    color: #782b90;
    img {
        padding: 2rem 6rem 2rem 3rem;
    }
}
.purple {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #782b90;
    color: #FFF;
    h2 {
        padding: 0 0 4rem 10rem;
    }
}
.hola {
    background-color: #FFF;
    color: #782b90;
    text-align: center;
    padding: 4rem 0;
    p {

    }
}