<body>

    <div class="white">
        <img src="../../../assets/images/puntosColombia.png" alt="puntosColombia">
        <div class="white__text">
            <h2>Tienes 3.116 Puntos Colombia</h2>
            <p>Saldo al 23-dic-2021</p>
        </div>
    </div>

    <div class="purple">
        <h2>CON <br> PUNTOS COLOMBIA <br> #NAVEGASEGURO</h2>
        <img src="../../../assets/images/persona.png" alt="persona">
    </div>

    <div class="hola">
        <h2>Hola, Gustavo</h2>
        <p>Tu seguridad y la de tus Puntos Colombia es muy importante 
            para <br> nosotros, por eso te damos unos tips para que disfrutes 
            tus días <br> a punta de Puntos</p>
    </div>

</body>